.main-holder {
    background: var(--section-bg-color);
}

.holder-list__img {
    max-width: 370px;
    max-height: 294px;
}

.holder-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder-list__team {
    position: relative;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.main-holder {
    padding-bottom: 94px;
}

.holder-list__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 82px;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
}