:root {
    --header-footer-text-color: #2196F3;
    --hover-text-color: #2196F3;
    --hover-button-color: #2196F3;
    --hover-icon-color: #2196F3;
    --bg-portfolio-cart-text: #2196F3;
    --bg-button-color: #2196F3;
    --focus-modal-input: #2196F3;
    --button-text-color: #FFFFFF;
    --main-title-color: #FFFFFF;
    --bg-carts-color: #FFFFFF;
    --footer-text-color: #FFFFFF;
    --primary-text-color: #757575;
    --portfolio-text-color: #757575;
    --profession-text-color: #757575;
    --section-bg-color: #FFFFFF;
    --button-filter-color: #F5F4FA;
    --color-icon: #AFB1B8;
}